.core-layout {
  background-color: #191923;
  height: 100vh;
  width: 100vw;
  &__content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 1.2rem 0;
    display: flex;

    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    &-info {
      background-color: rgb(97, 97, 97);
      width: 20%;
      position: absolute;
      top: 1.2rem;
      bottom: 1.2rem;
    }
    &-infoFake {
      width: 20%;
      transition: width 0.5s;

      &.short {
        width: 10% !important;
      }
    }
    &-main {
      margin: 0 1.2rem;
      background: linear-gradient(
        159deg,
        rgba(30, 30, 40, 0.98) 0%,
        rgba(28, 28, 35, 0.98) 100%
      );
      flex: 1;
    }
    &-menu {
      background: linear-gradient(
        159deg,
        rgba(30, 30, 40, 0.98) 0%,
        rgba(28, 28, 35, 0.98) 100%
      );
      width: 48px;
      transition: width 1s;
      &.long {
        width: 150px;
      }
    }
  }
}
