.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: aliceblue;
  background: $info-background;
  height: 100%;
  &-badge {
    width: 100%;
    @include flexbox(center, center, column);
    padding: 1.2rem 0;
    h3 {
      margin: 0.8rem 0;
    }
    span {
      color: #999999;
    }
  }
  &-general {
    flex: 1;
    overflow: auto;
    padding: 15px;
    background: $nav-main-background;
    &__basic {
      .basic-info {
        @include flexbox(space-between, center);
      }
    }
    &__languages {
      flex: 1;
      .lang-box {
        @include flexbox(space-between);
      }
    }
    &__skills {
      flex: 1;
    }
  }
  &-contacts {
    @include flexbox();
    height: 4rem;
    a {
      margin: 5px;
      color: white;
    }
  }
  hr {
    height: 3px;
    background-color: #343a40;
    border: none;
  }
}
