.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  &-badge {
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
    h3 {
      margin: 0.8rem 0;
    }
  }
  &-region {
    background-color: purple;
    height: 15rem;
  }
  &-languages {
    background-color: cadetblue;
    height: 15rem;
  }
  &-skills {
    flex: 1;
    background-color: orange;
  }
  &-contacts {
    height: 15rem;
    background-color: salmon;
  }
}
