.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100vh;
  &-badge {
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
    h3 {
      margin: 0.8rem 0;
    }
  }
  &-general {
    flex: 1;
    overflow: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    &__basicInfo {
    }
    &__languages {
      height: 15rem;
    }
    &__skills {
      flex: 1;
      background-color: orange;
    }
  }
  &-contacts {
    height: 5rem;
    background-color: salmon;
  }
}
