.form {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: rgb(43, 44, 53);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  input,
  textarea {
    margin: 10px;
    background: linear-gradient(
      159deg,
      rgba(30, 30, 40, 0.98) 0%,
      rgba(28, 28, 35, 0.98) 100%
    );
    border: none;
    padding: 10px;
  }
  input,
  textarea:focus {
    color: white;
    outline: none;
  }
  .message {
    height: 200px;
  }
  .btn {
    margin: 10px;
    background-color: #ffc107;
    border: none;
    width: 150px;
    height: 50px;
  }
}
